*{
    padding:0;
    margin:0;
    font-family: 'Press Start 2P', cursive;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #654e56;
}
.nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top:0;
    left: 5px;
    z-index: 100;
    width: 100%;
    height: 40px;
}
.return-button{
    background-color: #654e56;
    color: black;
    margin: .5rem 2rem;
    font-size: .75rem;
    outline: none;
    border: none;
    /* padding: .5rem 1rem; */
}
.return-button:hover{
    color: rgb(42, 42, 42);
    cursor: pointer;
}
#home{
    height: 20px;
}
.border-left {
    position:  relative;
    width: 50px;
    height: 790px;
    left: -175px;
    background-color: #654e56;
    z-index: +2;
}
.border-right {
    position: relative;
    background-color: #654e56;
    width: 50px;
    height: 790px;
    z-index: +2;
    left: 175px;
}

.border-top {
    position:  absolute;
    background-color: #654e56;
    width: 350px;
    height: 100px;
    z-index: +2;
    top: -100px;
}
.start-button{
    background-color: #2A8F9B;
    color: white;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
}
.start-button:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
}
.player-score{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #2A8F9B;
    color:white;
    height: 100%;
    font-size: 30px;
}
.restart-button{
    position:relative;
    background-color: #2A8F9B;
    left: 120px;
    top: 185px;
    align-items: center;
    z-index: 1000;
    color: white;
    padding: 2px 4px;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    border: none;
    padding: .5rem 1rem
}
.restart-button:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
}
.game-container{
    position: absolute;
    width: 350px;
    height: 500px;
}
.sky{
    position: absolute;
    background-image: url('/images/flappy-bird-background.jpg') ;
    background-size: cover;
    width: 350px;
    height: 400px;
}
.ground{
    position: absolute;
    background-color: #D4AC57;
    width: 350px;
    height: 100px;
    top: 400px;
    z-index:1;
}
.bird{
    position: absolute;
    background-image: url('/images/flappy-bird.png');
    width: 60px;
    height: 45px;
    border-radius: 50px;
}
.bottom-obstacle{
    position: absolute;
    background-image: url('/images/flappy-bird-pipe.png') ;
    width: 50px;
    height: 180px;
}
.top-obstacle{
    position: absolute;
    background-image: url('/images/flappy-bird-pipe.png') ;
    transform: rotate(180deg);
    width: 50px;
    height: 180px;
}
/* Mobile devices: */
@media(max-width:426px){
    .border-left {
    position:  relative;
    width: 50px;
    height: 790px;
    left: -66px;
    background-color: #654e56;
    z-index: +2;
}
.border-right {
    position: relative;
    background-color: #654e56;
    width: 150px;
    height: 790px;
    z-index: +2;
    left: 165px;
}

.border-top {
    position:  absolute;
    background-color: #654e56;
    width: 231px;
    height: 66px;
    z-index: +2;
    top: -125px;
}
.start-button{
    background-color: #2A8F9B;
    color: white;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.start-button:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
}
.player-score{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #2A8F9B;
    color:white;
    height: 100%;
    font-size: 20px;
}
.restart-button{
    position:relative;
    background-color: #2A8F9B;
    left: 44px;
    top: 116px;
    align-items: center;
    z-index: 1000;
    color: white;
    padding: 2px 4px;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    border: none;
    padding: .5rem 1rem
}
.restart-button:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
}
.game-container{
    position: absolute;
    width: 231px;
    height: 330px;
}
.sky{
    position: absolute;
    background-image: url('/images/flappy-bird-background.jpg') ;
    background-size: cover;
    width: 231px;
    height: 264px;
    top: -59px;
}
.ground{
    position: absolute;
    background-color: #D4AC57;
    width: 231px;
    height: 66px;
    top: 205px;
    z-index:1;
}
.bird{
    position: absolute;
    background-image: url('/images/flappy-bird.png');
    background-size: cover;
    width: 30px;
    height: 20px;
    border-radius: 50px;
}
.bottom-obstacle{
    position: absolute;
    background-image: url('/images/flappy-bird-pipe.png') ;
    width: 33px;
    height: 100px;
}
.top-obstacle{
    position: absolute;
    background-image: url('/images/flappy-bird-pipe.png') ;
    background-size: cover;
    transform: rotate(180deg);
    width: 33px;
    height: 100px;
}
}
